:root {
    --color-primario: rgb(195, 205, 233);
}

.container {
    padding: .4rem;
    margin: auto;
    width: 20%;
    background-color: rgb(42, 40, 73);
    border-radius: .2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container > h2 {
    margin: 1.2rem 1rem;
    color: var(--color-primario);
}


.tema_container {
    margin: 1rem;
    padding: 1.2rem 0;
    background-color: rgb(59, 55, 94);
    border-radius: .2rem;
}
.tema_container > h4, a {
    margin: 1rem;
}
.tema_container > h4 {
    color: var(--color-primario);
    font-size: 1.3rem;
}
a {
    background-color: rgb(223, 221, 99);
    padding: .2rem 1.3rem;
    text-decoration: none;
}
.button {
    background-color: rgb(223, 221, 99);

    border-radius: 2rem;
    font-size: 2.5em;
    padding: 0rem 1rem;
    text-align: center;
    font-weight: bolder;
    align-self: flex-end;
    margin: auto 1rem 0 ;
}